.table-header {
  font-size: 1.5rem;
}


.table-cell {
  font-size: 1.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  font-size: 1.3rem;
  text-align: center;
}


.contact-picture {
  width: 100%;
  width: 6rem;
}

.table {
  margin: 1rem;
}